---
export interface Props {
  name: string;
  img: string;
  url: string;
}

const { name, img, url } = Astro.props;

const imagePath = `/images/${img}`;
---

<a href={url} target="_blank" rel="noreferrer noopener nofollow" class="client-logo-link" title={name}>
  <img src={imagePath} alt={`${name} Logo`} />
</a>
